<div class="content">
    <div class="container"> <!--CSS, HTML, TS, Java, SrpingBoot?-->
      <div class="card">
        <div class="percent" style="--clr:#04fc43;--num:85;"> <!-- 440 = 0, 0 = 100, tener en cuenta, aca cambio el tamano del circulo-->
          <div class="dot"></div>
          <svg>
            <circle cx="70" cy="70" r="70"></circle>
            <circle cx="70" cy="70" r="70"></circle>
          </svg>
          <div class="number">
            <h2>85<span>%</span></h2>
            <p>HTML</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="percent" style="--clr:red;--num:65;"> <!-- 440 = 0, 0 = 100, tener en cuenta, aca cambio el tamano del circulo-->
          <div class="dot"></div>
          <svg>
            <circle cx="70" cy="70" r="70"></circle>
            <circle cx="70" cy="70" r="70"></circle>
          </svg>
          <div class="number">
            <h2>65<span>%</span></h2>
            <p>CSS</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="percent" style="--clr:#045bfc;--num:55;"> <!-- 440 = 0, 0 = 100, tener en cuenta, aca cambio el tamano del circulo-->
          <div class="dot"></div>
          <svg>
            <circle cx="70" cy="70" r="70"></circle>
            <circle cx="70" cy="70" r="70"></circle>
          </svg>
          <div class="number">
            <h2>55<span>%</span></h2>
            <p>Java</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="percent" style="--clr:#fc9104;--num:35;"> <!-- 440 = 0, 0 = 100, tener en cuenta, aca cambio el tamano del circulo-->
          <div class="dot"></div>
          <svg>
            <circle cx="70" cy="70" r="70"></circle>
            <circle cx="70" cy="70" r="70"></circle>
          </svg>
          <div class="number">
            <h2>35<span>%</span></h2>
            <p>Angular</p>
          </div>
        </div>
      </div>
    </div>
</div>


