.logo{
  font-size: 2rem;
  color: whitesmoke;
  /*font-family: 'Overpass', sans-serif;*/
  /*font-family: 'Open Sans', sans-serif;*/
}
.nav-bar-propio{
  margin: 0;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 1rem;
}
.clor{
  color: white;
  font-size: 3rem;
}
.color-nav{
  background-color: rgba(41, 50, 60, 0.95);
}




