<main>
  <div class="row texto-turing">
    <div class="container text-center texto-inicial">
      <div class="row">
        <div class="col-sm-5 col-md-6 texto-inicial pad-p"> <strong><i class="texto-inicial-two">SOLO</i></strong> podemos ver poco del <strong class="texto-inicial-two">FUTURO</strong></div>
        <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0 texto-inicial pad">, pero lo <strong><i class="texto-inicial-two">SUFICIENTE</i></strong> </div>
      </div>
      <div class="row">
        <div class="moving texto-inicial pad-d">para darnos cuenta de que hay <strong><i class="texto-inicial-two">MUCHO QUE HACER .</i></strong></div>
        <div class="row">
          <div class="autor"><cite title="Source Title"><strong>Alan Turing</strong></cite></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-11 texto-ppl-home">
          <p>Texto de Muestra</p>
        </div>
        <div class="col-4">
          <div class="cube">
            <div class="top"></div>
            <div>
            <span style="--i:0;">
<!--        <h3>Hi!</h3>-->
              <!--        <h3>Hi!</h3>-->
      </span>
              <span style="--i:1;">
<!--        <h3>Hi!</h3>-->
                <!--        <h3>Hi!</h3>-->
      </span>
              <span style="--i:2;">
<!--        <h3>Hi!</h3>-->
                <!--        <h3>Hi!</h3>-->
      </span>
              <span style="--i:3;">
<!--        <h3>Hi!</h3>-->
                <!--        <h3>Hi!</h3>-->
      </span>
            </div>
          </div>
        </div>
        <div class="col-6">
          <p>Texto de prueba</p>
        </div>
      </div>
    </div>
  </div>
</main>


